<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
    
<!-- the data we get from the API will be populated in here:   -->
  
  <input id="theInput" type="text" onkeyup="checkInput()">
  <button id="theButton">Get the country</button>
  <h2 id="countryName"></h2>
  <p id="countryCapital"></p>

  <canvas id="myChart"></canvas>

  <h1> Axios AJAX - POST, PATCH &amp; PUT </h1>
    <button id="post-wall-e"> Post WALL-E </button>
    <ul id="characters-list"></ul>

  <h3 id="add-char"> Post a new character </h3>
  <form id="character-form">
      <div>
          <label for="the-name-input"> Name: </label>
          <input type="text" name="name" class="the-name">
      </div>

      <div>
          <label for="the-occupation-input"> Occupation: </label>
          <input type="text" name="occupation" class="the-occupation">
      </div>

      <div>
          <label for="the-weapon-input"> Weapon: </label>
          <input type="text" name="weapon" class="the-weapon">
      </div>

      <button> Save </button>
  </form>

  <p>Which character you would like to update? Input its id: 
    <input type="text" name="" id="theCharId">
    <button type="submit" id="getButton">Get the character</button>
</p>
<div id="updateForm">
    <h3 id="update-char"> Update a character </h3>
   
    <form id="update-form">
    <div>
        <label for="update-name-input"> Name: </label>
        <input type="text" name="name" class="the-name">
    </div>

    <div>
        <label for="update-occupation-input"> Occupation: </label>
        <input type="text" name="occupation" class="the-occupation">
    </div>

    <div>
        <label for="update-weapon-input"> Weapon: </label>
        <input type="text" name="weapon" class="the-weapon">
    </div>

    <div>
        <label for="character-id-input"> Character ID: </label>
        <input type="text" name="characterId" id="character-id-input">
    </div>

    <button> Update </button>
    </form>
</div>