<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
    
<!-- the data we get from the API will be populated in here:   -->
  
  <input id="theInput" type="text" onkeyup="checkInput()">
  <button id="theButton">Get the country</button>
  <h2 id="countryName"></h2>
  <p id="countryCapital"></p>